.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: rgb(56, 33, 33);
}

.heading{
    text-shadow: 3px 2px rgb(46, 154, 154);
}